
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Allow users to create and manage their own profile document.
    match /users/{userId} {
      allow read, update: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }

    // Deny all other access by default
  }
}
